body {
	padding-bottom: 40px;
}

div.weekday {
	margin-top: 40px;
}

div.weekday div.input-field input[type=text] {
	width: calc(100% - 30px);
}

div.weekday button[type=submit] {
	width: 100%;
	margin: 0px auto;
}

div.weekday div.input-field i {
	color: red;
	position: relative;
	bottom: -12px;
	cursor: pointer;
}