<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Update Mess Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Compiled and minified CSS -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<link rel="stylesheet" href="/static/css/common.css">
</head>
<body>

	<div class="container">
		
		<div class="row">
			<h2 class="col s12 center">
				Ashoka University Chatbot
			</h2>
			<h5 class="col s12 center">
				Please use the following links to update the information.
			</h5>
		</div>
		<div class="row">
			<div class="col s6">
				<h5 class="center">
					<a class="waves-effect waves-light btn-large" href="/update_shuttle/campus">
						Update Shuttle Schedule
					</a>
				</h5>
			</div>
			<div class="col s6">
				<h5 class="center">
					<a class="waves-effect waves-light btn-large" href="/update_menu/breakfast">
						Update Mess Menu
					</a>
				</h5>
			</div>
		</div>

	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>